.chart-bar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  margin-top: 2rem;
  margin-bottom: 2rem;

  font-size: 0.9em;
  & button {
    max-width: 120px;
    color: #FFFFFF;
    background-color: #949494;
    border-radius: 50px;
    padding: 5px 10px 5px 10px;

    display: flex;
    align-items: center;

    &:hover {
      background-color: #3C6797;
    }

    &.selected {
      background-color: #3C6797;
    }
  }
}