.mps-main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 8rem;

  &__button {
    height: 50px;
    display: flex;
    align-items: center;
    align-self: center;
  }
}