.mps-main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #3C6797;

  &__search-bar {
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 7px 15px 7px 15px;
    font-size: 0.8em;
    margin-right: 15px;

    &-input {
      outline: none;
      border: none;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__button {
    margin: 15px;
    display: flex;
    align-items: center;
    align-self: center;
    font-size:  0.8em;
  }
}