@import './../partyColorCodes.scss';

.button {
  border-radius: 50px;
  padding: 5px 15px 5px 15px;
  line-height: 1.2rem;
  margin-right: 1rem;
  color: white;
  box-shadow: 1px 1px 10px 0px #4E4E4E;
  background-color: #C0C0C0;

  &.Accountability {
    &:hover {
      background: $Accountability;
    }

    &.selected {
      background: $Accountability;
    }
  }

  &.Alliance {
    &:hover {
      background: $Alliance;
    }

    &.selected {
      background: $Alliance;
    }
  }

  &.Animal {
    &:hover {
      background: $Animal;
    }

    &.selected {
      background: $Animal;
    }
  }

  &.Bloc {
    &:hover {
      background: $Bloc;
    }

    &.selected {
      background: $Bloc;
    }
  }

  &.Canada {
    &:hover {
      background: $Canada;
    }

    &.selected {
      background: $Canada;
    }
  }

  &.Canadian {
    &:hover {
      background: $Canadian;
    }

    &.selected {
      background: $Canadian;
    }
  }

  &.Christian {
    &:hover {
      background: $Christian;
    }

    &.selected {
      background: $Christian;
    }
  }

  &.Communist {
    &:hover {
      background: $Communist;
    }

    &.selected {
      background: $Communist;
    }
  }

  &.Conservative {
    

    &:hover {
      background: $Conservative;
    }

    &.selected {
      background: $Conservative;
    }
  }

  &.Democratic {
    &:hover {
      background: $Democratic;
    }

    &.selected {
      background: $Democratic;
    }
  }

  &.Forces {
    &:hover {
      background: $Forces;
    }

    &.selected {
      background: $Forces;
    }
  }

  &.Green {
    &:hover {
      background: $Green;
    }

    &.selected {
      background: $Green;
    }
  }

  &.Liberal {
    &:hover {
      background: $Liberal;
    }

    &.selected {
      background: $Liberal;
    }
  }

  &.Libertarian {
    &:hover {
      background: $Libertarian;
    }

    &.selected {
      background: $Libertarian;
    }
  }

  &.Marijuana {
    &:hover {
      background: $Marijuana;
    }

    &.selected {
      background: $Marijuana;
    }
  }

  &.Marxist-Leninist {
    &:hover {
      background: $Marxist-Leninist;
    }

    &.selected {
      background: $Marxist-Leninist;
    }
  }

  &.NDP {
    &:hover {
      background: $NDP;
    }

    &.selected {
      background: $NDP;
    }
  }

  &.Pirate {
    &:hover {
      background: $Pirate;
    }

    &.selected {
      background: $Pirate;
    }
  }

  &.Progressive {
    &:hover {
      background: $Progressive;
    }

    &.selected {
      background: $Progressive;
    }
  }

  &.Rhinoceros {
    &:hover {
      background: $Rhinoceros;
    }

    &.selected {
      background: $Rhinoceros;
    }
  }

  &.Seniors {
    &:hover {
      background: $Seniors;
    }

    &.selected {
      background: $Seniors;
    }
  }

  &.The {
    &:hover {
      background: $The;
    }

    &.selected {
      background: $The;
    }
  }

  &.United {
    &:hover {
      background: $United;
    }

    &.selected {
      background: $United;
    }
  }

  &.Independent {
    &:hover {
      background: $Independent;
    }

    &.selected {
      background: $Independent;
    }
  }
}

.button:last-of-type {
  margin-right: 0;
}

.button:focus {
  outline: none;
}
