.constituency-badge {
  height: 15px;
  max-width: 200px;
  
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 5px 10px 5px 10px;

  border: #9B7EC8 2px solid;
  border-radius: 50px;

  color: #9B7EC8;
  font-size: 0.85em;
  text-align: center;
}

.constituency-icon {
  width: 25px;
  margin-right: 5px;
  font-size: 1em;
}

.constituency-name {
  width: 170px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}