.flag-badge {
  height: 15px;
  max-width: 200px;

  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 5px 10px 5px 10px;

  border: #3C6797 2px solid;
  border-radius: 50px;

  color: #3C6797;
  font-size: 0.85em;
  text-align: center;
}

.flag-icon {
  width: 25px;
  margin-right: 5px;

  display: flex;
  align-items: center;
}

.flag-icon img {
  display: block;
  margin: auto;

  border-radius: 25px;
}