.flag-badge {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 5px 10px 5px 10px;

  border: #9B7EC8 2px solid;
  border-radius: 50px;

  color: #9B7EC8;
  font-size: 0.85em;
  text-align: center;
}

.flag-badge img {
  margin-right: 10px;
}