.disagree-badge {
  height: 15px;
  
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 5px 10px 5px 10px;

  border: #AA2F1B 2px solid;
  border-radius: 50px;

  color: #AA2F1B;
  font-size: 0.85em;
  text-align: center;
}

.disagree-icon {
  margin-right: 10px;
  font-size: 1em;
}