.agree-badge {
  height: 15px;
  max-width: 200px;
  
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 5px 10px 5px 10px;

  border: #2FAA1B 2px solid;
  border-radius: 50px;

  color: #2FAA1B;
  font-size: 0.85em;
  text-align: center;
}

.agree-icon {
  width: 25px;
  margin-right: 5px;
  font-size: 1.2em;
}