.home {
  font-size: 1.25rem;
  color:#9B7EC8;
  display: flex;
  flex-flow: column;
  padding: 5rem;
  &--left {
    align-self: flex-start;
    width: 50%;
    padding: 1rem;
  }
  &--right {
    align-self: flex-end;
    width: 50%;
    padding: 1rem;
  }
}