@import './partyColorCodes.scss';

.mp-list-item {
  width: 280px;
  min-width: 280px;
  border-radius: 3px 20px 20px 74px;
  margin: 7.5px 0px 7.5px 0px;
  padding: 0px;

  &__main {
    border-radius: 70px 15px 15px 70px;
    padding: 5px;
    height: 180px;
    border: 3px solid white;
    display: flex;
    justify-content: flex-start;
    background: #fff;
    
    img {
      border-radius: 80px;
    }
    
    h3 {
      text-align: center;
      margin: 10px;
    }

    h4 {
      margin: 10px;
    }
 
    &-aside {
      width: 100%;
      margin: 0px;
    }

    &.Accountability {
      &:hover {
        border: 3px solid #CC002C;
      }
    }

    &.Alliance {
      &:hover {
        border: 3px solid #336600;
      }
    }

    &.Animal {
      &:hover {
        border: 3px solid #5CA586;
      }
    }

    &.Bloc {
      &:hover {
        border: 3px solid #33B2CC;
      }
    }

    &.Canada {
      &:hover {
        border: 3px solid #FECE0A;
      }
    }

    &.Canadian {
      &:hover {
        border: 3px solid #AC2C2C;
      }
    }

    &.Christian {
      &:hover {
        border: 3px solid #8D0E3B;
      }
    }

    &.Communist {
      &:hover {
        border: 3px solid #DD0101;
      }
    }

    &.Conservative {
      &:hover {
        border: 3px solid #1A4782;
      }
    }

    &.Democratic {
      &:hover {
        border: 3px solid #2B035C;
      }
    }

    &.Forces {
      &:hover {
        border: 3px solid #152869;
      }
    }

    &.Green {
      &:hover {
        border: 3px solid #3D9B35;
      }
    }

    &.Liberal {
      &:hover {
        border: 3px solid #D71920;
      }
    }

    &.Libertarian {
      &:hover {
        border: 3px solid #F2BA00;
      }
    }

    &.Marijuana {
      &:hover {
        border: 3px solid #907430;
      }
    }

    &.Marxist-Leninist {
      &:hover {
        border: 3px solid #DA251E;
      }
    }

    &.NDP {
      &:hover {
        border: 3px solid #F37021;
      }
    }

    &.Pirate {
      &:hover {
        border: 3px solid #70009F;
      }
    }

    &.Progressive {
      &:hover {
        border: 3px solid #002FA1;
      }
    }

    &.Rhinoceros {
      &:hover {
        border: 3px solid #3F2204;
      }
    }

    &.Seniors {
      &:hover {
        border: 3px solid #FFFFFF;
      }
    }

    &.The {
      &:hover {
        border: 3px solid #3B3999;
      }
    }

    &.United {
      &:hover {
        border: 3px solid #CC9900;
      }
    }

    &.Independent {
      &:hover {
        border: 3px solid #C0C0C0;
      }
    }
  }
}
