.mp-vote {
  padding: .5rem;
  margin: .25rem;
  width: 12rem;
  height: 7rem;

  &.yea {
    &::before {
      content: "Voted Yea\A";
      background-color: lightgreen;
      white-space: pre;
      color: white;
    }
  }
  &.nay {
    &::before {
      content: "Voted Nay\A";
      background-color: red;
      white-space: pre;
      color: white;
    }
  }

  &.paired {
    &::before {
      content: "Vote Paired \A";
      white-space: pre;
      color: white;
      background-color: lightgrey;
    }
    &p {
      background-color: white;
    }
  }

  &.did-not-vote {
    &::before {
      content: "Did Not Vote\A";
      white-space: pre;
      color: white;
      background-color: grey;
    }
  }
  &.BlocQuébécois {
    background-color:#0088CE;
  }
  &.GreenParty {
    background-color:#427730;
  }
  &.NDP {
    background-color: #FF5800
  }
  &.Conservative {
    background-color:#002395;
  }
  &.Liberal {
    background-color:#ED2E38;
  }
  &.Independent {
    background-color:#C0C0C0;
  }
}
.mp-vote-container {
    padding-top: 70px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    width: 80%;;
}
.MP-info {
  background-color: white;
  height:5rem;
}