.nav {
  display: flex;
  height: 5rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: rgb(68, 68, 68);
  
  &--right {
    justify-content: flex-end;
    padding-right: 2rem;
    color: rgb(68, 68, 68);
  }
  &--left {
    font-size: 1.25rem;
    padding-left: 2rem;
    color: rgb(68, 68, 68);
  }
  a {
    padding: 1rem;
    text-decoration: none;
    color: rgb(68, 68, 68);
  }
}