.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  height: 5rem;
  width: 100%;

  position: fixed;
  z-index: 99;
  
  background-color: #612E9C;
  font-weight: bold;

  box-shadow: 2px 2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.05);
  -moz-box-shadow:    2px 2px 5px 5px rgba(0, 0, 0, 0.05);

  &--right {
    justify-content: flex-end;
    padding-right: 2rem;
    position: right;
    color: #FFFFFF;
    font-family: 'Source Sans Prop', sans-serif;
  }
  &--left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    padding-left: 3rem;
  }
  &--button {
    background-color: white;
    border-color: rgb(80, 77, 77);
    border-radius: 5px;
    padding: .25rem;
    width: 7rem;
    &:hover {
      background-color: lightgray;
    }
    &:focus {
      outline-color: rgb(80, 77, 77);
    }
  }
  a {
    color: inherit;
    padding: 1rem;
    text-decoration: none;
  }
}