.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  height: 5rem;
  width: 100%;

  position: fixed;
  z-index: 99;
  
  background-color: #FDFDFD;
  color: rgb(80, 77, 77);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;

  &--right {
    justify-content: flex-end;
    padding-right: 2rem;
  }
  &--left {
    font-size: 1.25rem;
    padding-left: 2rem;
  }
  a {
    color: inherit;
    padding: 1rem;
    text-decoration: none;
  }
}