button {
  border: none;
  outline: none;
}

.display-close {
  background-color: #EBEFF4;
  max-height: 0px;
  height: 660px;
  overflow: hidden;
  transition: max-height .5s ease;
}

.display-collapse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px; 

  background-color: #EBEFF4;
  max-height: 660px;
  height: 660px;
  transition: max-height .5s ease;
}

.toggle-display {
  background-color: #3C6797;
  position: absolute;
  right: 25px;

  color: #FFFFFF;

  :hover {
    color: #71F7B1;
  }
}

.user-vote {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 98;
}

.user-vote-bar {
  background-color: #3C6797;

  width: 656px;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;

  color: #FFFFFF;
  overflow: hidden;
}

.user-vote-button {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.user-vote-charts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.nay {
  height: 15px;
  padding: 12px 15px 12px 15px;

  display: flex;
  align-items: center;

  background-color: #C0C0C0;
  border-radius: 50px;

  color: #4E4E4E;
  font-size: 0.85em;
  text-align: center;

  &.selected {
    height: 15px;
    padding: 12px 15px 12px 15px;
  
    display: flex;
    align-items: center;
  
    background-color: #C36E64;
    border: #AA2F1B 2px solid;
    border-radius: 50px;
  
    color: #000000;
    font-size: 0.85em;
    text-align: center;
  }
}

.nay:hover {
  background-color: #AA2F1B;
  color: #FFFFFF;
  cursor: pointer;
}

.yea {
  height: 15px;
  padding: 12px 15px 12px 15px;

  display: flex;
  align-items: center;

  background-color: #C0C0C0;
  border-radius: 50px;

  color: #4E4E4E;
  font-size: 0.85em;
  text-align: center;

  &.selected {
    height: 15px;
    padding: 12px 15px 12px 15px;
  
    display: flex;
    align-items: center;
  
    background-color: #83C469;
    border: #2FAA1B 2px solid;
    border-radius: 50px;
  
    color: #000000;
    font-size: 0.85em;
    text-align: center;
  }
}

.vote-yes:hover {
  background-color: #2FAA1B;
  color: #FFFFFF;
  cursor: pointer;
}

.voted-no {
  height: 15px;
  padding: 12px 15px 12px 15px;

  display: flex;
  align-items: center;

  background-color: #AA2F1B;
  box-shadow: 1px 1px 10px 0px #4E4E4E;
  border-radius: 50px;

  color: #FFFFFF;
  font-size: 0.85em;
  text-align: center;
}

.voted-yes {
  height: 15px;
  padding: 12px 15px 12px 15px;

  display: flex;
  align-items: center;

  background-color: #2FAA1B;
  box-shadow: 1px 1px 10px 0px #4E4E4E;
  border-radius: 50px;

  color: #FFFFFF;
  font-size: 0.85em;
  text-align: center;
}