.split-containers {
  background-color: crimson;

  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: auto;

  display: flex;
  flex-direction: row;
}

.vote-charts-container {
  display: flex;
  align-items: center;
  
  width: 50%;

  padding: 1rem;
  float: left;

  background-color: #C0C0C0;
}

.vote-info-components {
  height: 100%;
  background-color: darkblue;
  margin-top: 80px;

  overflow-y: hidden;
}

.vote-info-container {
  width: 50%;
  top: 0;

  padding: 80px;
  float: right;

  overflow-y: scroll;

  background-color: #FDFDFD;
}