.vote-list-item {
  border-radius: 15px;
  margin: 10px;
  padding: 15px;
  width: 30%;
  min-width: 250px;
  max-width: 350px;
  height: 100px;
  background: #FFFFFF;
  overflow: hidden;
  border: 3px solid #FFFFFF;
  
  h4 {
    margin: 0px;
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
  }

  &__date {
    width: 100%;
    font-size: 12px;
    text-align: right;
  }

  &__header {
    margin: 0px;
    
    
    &-agreedto {
      border-bottom: 3px solid #2FAA1B;
    }

    &-negatived {
      border-bottom: 3px solid #AA2F1B;
    }
  }

  &:hover {
    border: 3px solid #71F7B1;
  }
}

.vote-list-item__desc {
  margin-top: 10px;
}
