.vote-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100vw;
  background-color: #3C6797;

  &__header {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__main {

    max-width: 85%;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    
    // Space holder for the last row
    &:after {
      content: "";
      margin: 7.5px 0px 7.5px 0px;
      padding: 5px;
      width: 30%;
      min-width: 255px;
    }
  }
}

.votes-header {
  color: #FFFFFF;
  margin-bottom: 0;
}

.votes-sub-header {
  color: #FFFFFF;
  margin-bottom: 50px;
}