.user-mp {
  margin-top: 40px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-up-prompt {
  padding: 15px 40px 15px 40px;
  margin: 25px 0px 25px 0px;

  background-color: #FFFFFF;

  text-align: center;
}