.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.overview-summary {
  padding: 15px 40px 15px 40px;
  margin: 25px 0px 25px 0px;

  background-color: #EBEFF4;

  font-style: italic;
  text-align: center;
}