a:link {
  color: #4E4E4E;
}

a:hover {
  color: #71F7B1;
  text-decoration: underline;
}

a:active {
  color: #71F7B1;
}

a:visited {
  color: #4E4E4E;
}

.badges {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;

  overflow: hidden;
}

.overview-icon {
  width: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;

  color: #3C6797;
  font-size: 20px;
} 

.overview-icon-mp {
  width: 25px;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-right: 10px;

  color: #3C6797;
  font-size: 20px;
} 

.overview-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overview-item {
  display: flex;
  flex-direction: row;
  margin: 5px 0px 5px 0px;
}

.overview-item-desc {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.overview-item-title {
  display: flex;
  align-items: center;

  width: 120px;
  margin-right: 10px;

  font-weight: bold;
}

.overview-item-title-mp {
  display: flex;
  align-items: flex-start;

  width: 120px;
  margin-right: 10px;

  font-weight: bold;
}

.result {
  width: 400px;
  height: 30px;
  display: flex;
  align-items: center;
}